*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
header{
	padding: 20px 0;
	width: 100%;
	z-index: 5;
}
h1{
	font-size: 2em; 
	text-transform: uppercase;
}
h2{
	font-size: 1.2em;
}
p{
	font-size: 1em;
}
a, a:hover{
	color: #005DBD;
}
ul li{
	list-style: none;
}
.navbar-default{
	background: none;
	border: none;
}
.navbar{
	margin-bottom: 0;
}
.navbar-nav{
	float: right;
}
.navbar-brand{
	height: auto;
	padding: 0;
}
.nav li a{
	display: inline-block;
}
.navbar-default .navbar-nav>li>a{
	font-size: 1.2em;
	text-transform: uppercase;
}
.nav>li{
	margin-top: 21px;
}
.nav>li+li:before{
	content: '/';
	color: #777;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a.active{
	color: #005DBD;
}
.border-top{
	border-top: 1px solid #333;
	padding-top: 10px;
	margin-top: 20px;
}
#filtro-proyectos{
	margin-top: 40px;
}
#filtro-proyectos li{
	cursor: pointer;
	text-align: center;
	padding: 5px;
	border-top: 1px solid #333;
	margin-top: 5px;
}
#filtro-proyectos li:hover{
	color: #005DBD;
}
#proyectos .mix{
	display: none;
	float: left;
	width: 50%;
	padding: 0 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko         */
	box-sizing: border-box; 
}
.resultado-proyecto p{
	text-align: justify;
	font-size: .9em;
	margin-top: 15px;
}
form{
	font-size: 'Roboto Condensed', sans-serif;
}
input, textarea{
	width: 100%;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #333;
	padding: 5px 5px 2px 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko         */
	box-sizing: border-box;
	outline: none;
}
input:hover, textarea:hover, input:focus, textarea:focus{
	border-bottom: 1px solid #005DBD;
}
#btnEnviar{
	border: none;
	border-bottom: 2px solid #333;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
}
#mapa{
	width: 100%;
	height: 440px;
}



footer{
	padding-bottom: 20px;
	font-size: 1em;
}
footer .container{
	padding: 0;
}
.datos{
	float: left;
	margin-left: 15px;
	padding-top: 5px;
}
	
.datos span{
	display: block;
	font-weight: 300;
}
#balloon{
	float: right;
}

